{% extends "site.html" %} {% load static %} {% block site-content %}
<div>
  <h2 class="pb-4 font-bold text-lg">{{ query.value }}</h2>
  <ul class="space-y-2">
    {% for response in responses %}
    <li>
      <div class="flex gap-2">
        <p class="shrik-1 italic text-gray-500">
          {{ response.timestamp|date:"Y/m/d" }}
        </p>
        {% with site_id=site_id topic_id=topic_id query_id=query.id response_id=response.id %}
        <a
          href="{% url 'response' site_id=site_id topic_id=topic_id query_id=query_id response_id=response_id %}"
          class="shrink-[4] hover:underline"
        >
          <h3>{{ response.value }}</h3>
        </a>
        {% endwith %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
